@keyframes rotate-infinite {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fade-scale {
  0% {
    transform: scale(0.9);
  }
  50% {
    opacity: 0.7;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-1.5px);
  }
  50% {
    transform: translateX(1.5px);
  }
  75% {
    transform: translateX(-1.5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes moveDown {
  0% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(4px);
  }
}

@keyframes moveUp {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-9px);
  }
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.section.tools {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.section.data {
  margin-top: 30px;
  padding: 0px 10px 10px 10px;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  margin: 5px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  position: relative;
}

button.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

button.disabled img {
  filter: grayscale(100%);
  transform: none !important;
}

button img {
  width: 20px;
  height: 20px;
  transition: transform 0.3s ease;
}

button:hover img {
  transition: transform 0.3s ease;
}

#play-btn:not(.progress):hover img {
  animation: rotate-infinite 0.4s linear;
  filter: invert(31%) sepia(96%) saturate(7484%) hue-rotate(210deg) brightness(98%) contrast(105%);
}

#play-btn.progress img {
  animation: rotate-infinite 1s linear infinite;
  filter: invert(31%) sepia(96%) saturate(7484%) hue-rotate(210deg) brightness(98%) contrast(105%);
}

#play-btn.progress:hover img {
  animation: none;
  content: url("./images/stop.png");
  filter: invert(32%) sepia(77%) saturate(3563%) hue-rotate(331deg) brightness(96%) contrast(101%);
}

#lock-btn.lock img {
  filter: invert(66%) sepia(100%) saturate(2376%) hue-rotate(3deg) brightness(102%) contrast(101%);
}

#lock-btn:hover img {
  animation: fade-scale 0.3s ease;
  content: url("./images/lock.png");
}

#lock-btn.lock:hover img {
  content: url("./images/open.png");
}

#lock-btn:not(.lock):hover img {
  content: url("./images/lock.png");
  filter: invert(66%) sepia(100%) saturate(2376%) hue-rotate(3deg) brightness(102%) contrast(101%);
}

#lock-btn.disabled:hover img,
#play-btn.disabled:hover img {
  transform: none !important;
}

#clear-btn:hover img {
  animation: shake 0.5s ease;
  animation-fill-mode: forwards;
  filter: invert(32%) sepia(77%) saturate(3563%) hue-rotate(331deg) brightness(96%) contrast(101%);
}

#filter-btn:hover img {
  transform: rotate(15deg);
  filter: invert(16%) sepia(100%) saturate(7000%) hue-rotate(270deg) brightness(85%) contrast(105%);
}

button svg {
  width: 20px;
  height: 20px;
  fill: rgb(0, 0, 0);
  transition: all 0.3s ease;
}

.slider {
  transform: translateY(0);
  transform-origin: center;
}

button svg:hover .slider {
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

button svg:hover g {
  stroke: #15c31e;
}

.slider-left {
  animation-name: moveDown;
}

.slider-right {
  animation-name: moveUp;
}

.tool-group {
  display: flex;
  align-items: center;
}

.vertical-divider {
  width: 1px;
  height: 16px;
  background-color: #ccc;
}

.section-divider {
  border: none;
  border-top: 1px solid #a2a2a2;
  margin: 0px 0px 10px 0px;
}

.tooltip {
  position: absolute;
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  display: none;
  z-index: 1000;
  white-space: nowrap;
}

#ga4-data-container {
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f9f9f9;
}

.modal {
  padding: 0.4rem;
  position: fixed;
  right: 0;
  top: 5%;
  opacity: 0;
  z-index: 400;
  align-items: center;
  bottom: 0;
  display: none;
  justify-content: center;
  left: 0;
  opacity: 0;
  overflow: hidden;
}

.open {
  opacity: 1;
  display: flex;
  animation: slide-down 0.2s ease 1;
  z-index: 1;
}

.modal-overlay {
  background: rgba(0, 0, 0, 0.75);
  bottom: 0;
  cursor: default;
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  outline: none;
  text-decoration: none;
}

.modal-container {
  height: 85vh;
  max-width: 900px;
  animation: slide-down 0.2s ease 1;
  z-index: 1;
  background: #fff;
  border-radius: 0.1rem;
  padding: 0 0.8rem;
  width: 90%;
}
