@keyframes rotate-infinite {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fade-scale {
  0% {
    transform: scale(0.9);
  }
  50% {
    opacity: 0.7;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-1.5px);
  }
  50% {
    transform: translateX(1.5px);
  }
  75% {
    transform: translateX(-1.5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes tiltAnimation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(-18deg);
  }
}

@keyframes moveDown {
  0% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(4px);
  }
}

@keyframes moveUp {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-9px);
  }
}

body {
  font-family: "noto";
  /* font-family: Arial, sans-serif; */
  margin: 0;
  padding: 0;
  background-color: #FAFAFA;
}

.section.tools {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
}

.section.data {
  margin-top: 30px;
  /* padding: 0px 10px 10px 10px; */
}

button {
  background: none;
  border: none;
  cursor: pointer;
  margin: 5px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  position: relative;
}

button.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

button.disabled img {
  filter: grayscale(100%);
  transform: none !important;
}

button img {
  width: 20px;
  height: 20px;
  transition: transform 0.3s ease;
}

button:hover img {
  transition: transform 0.3s ease;
}

#play-btn:not(.progress):hover img {
  animation: rotate-infinite 0.4s linear;
  filter: invert(31%) sepia(96%) saturate(7484%) hue-rotate(210deg) brightness(98%) contrast(105%);
}

#play-btn.progress img {
  animation: rotate-infinite 1s linear infinite;
  filter: invert(31%) sepia(96%) saturate(7484%) hue-rotate(210deg) brightness(98%) contrast(105%);
}

#play-btn.progress:hover img {
  animation: none;
  content: url("./images/stop.png");
  filter: invert(32%) sepia(77%) saturate(3563%) hue-rotate(331deg) brightness(96%) contrast(101%);
}

#lock-btn.lock img {
  filter: invert(66%) sepia(100%) saturate(2376%) hue-rotate(3deg) brightness(102%) contrast(101%);
}

#lock-btn:hover img {
  animation: fade-scale 0.3s ease;
  content: url("./images/lock.png");
}

#lock-btn.lock:hover img {
  content: url("./images/open.png");
}

#lock-btn:not(.lock):hover img {
  content: url("./images/lock.png");
  filter: invert(66%) sepia(100%) saturate(2376%) hue-rotate(3deg) brightness(102%) contrast(101%);
}

#lock-btn.disabled:hover img,
#play-btn.disabled:hover img {
  transform: none !important;
}

#clear-btn:hover img {
  animation: shake 0.5s ease;
  animation-fill-mode: forwards;
  filter: invert(32%) sepia(77%) saturate(3563%) hue-rotate(331deg) brightness(96%) contrast(101%);
}

#filter-btn:hover img {
  animation: tiltAnimation 0.4s ease-in-out;
  filter: invert(16%) sepia(100%) saturate(7000%) hue-rotate(270deg) brightness(85%) contrast(105%);
}

button svg {
  width: 20px;
  height: 20px;
  fill: rgb(0, 0, 0);
  transition: all 0.3s ease;
}

.slider {
  transform: translateY(0);
  transform-origin: center;
}

button svg:hover .slider {
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

button svg:hover g {
  stroke: #15c31e;
}

.slider-left {
  animation-name: moveDown;
}

.slider-right {
  animation-name: moveUp;
}

.tool-group {
  display: flex;
  align-items: center;
}

#gtm-btn {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  margin: 5px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
}

#gtm-btn img {
  width: 20px;
  height: 20px;
  transition: transform 0.3s ease;
  filter: grayscale(100%) brightness(0.7) contrast(1.2);
  opacity: 0.7;
}

#gtm-btn:hover img {
  transform: scale(1.1);
  filter: none;
  opacity: 1;
}

.vertical-divider {
  width: 1px;
  height: 16px;
  background-color: #ccc;
}

.section-divider {
  border: none;
  border-top: 1px solid #a2a2a2;
  margin: 0px 0px 10px 0px;
}

.tooltip {
  position: absolute;
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  display: none;
  z-index: 1000;
  white-space: nowrap;
}

.ga4-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  margin-top: 5px;
  background: #fff;
}

.ga4-table th,
.ga4-table td {
  border: 1px solid #ddd;
  padding: 5px;
  text-align: left;
  word-wrap: break-word;
  overflow: hidden;
  /* white-space: nowrap; */
}

.ga4-table th:nth-child(1),
.ga4-table td:nth-child(1) {
  width: 25%;
}

.ga4-table th:nth-child(2),
.ga4-table td:nth-child(2) {
  width: 75%;
}

.ga4-table th {
  background: #f1f1f1;
  font-weight: bold;
}

.ga4-table tr:nth-child(even) {
  background: #f9f9f9;
}

#ga4-data-container > *:nth-child(even) {
  background-color: #ededed;
}

.ga4-request {
  /* border: 1px solid #ccc; */
  /* background: #fff; */
  /* padding: 10px; */
  /* margin-bottom: 5px; */
  cursor: pointer;
}

.ga4-request:hover {
  /* background: #f1f1f1; */
  background-color: #BBDEFB !important;
}

.ga4-request.expanded {
  background-color: #BBDEFB;
}

.ga4-details {
  display: none;
  padding: 10px;
  border-top: 1px solid #ddd;
  background: #f9f9f9;
}

.ga4-request.expanded .ga4-details {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  user-select: none;
}

.ga4-request-row {
  display: flex;
  padding: 5px;
  /* justify-content: space-between; */
  align-items: center;
  /* width: 100%; */
  /* padding: 8px 12px; */
  /* border-bottom: 1px solid #ddd; */
  /* font-size: 14px; */
  /* background: #fff; */
}

.ga4-event-name, .ga4-property-id, .ga4-event-time {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  color: #3b4351;
}

.ga4-event-name {
  display: flex;
  flex: 1;
  text-align: center;
  justify-content: center;
  /* text-align: left; */
  /* font-weight: bold; */
}

.ga4-event-name > div {
  user-select: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.3em;
  background-color: #f1ffdb;
  line-height: 1.25;
  border-radius: 0.1rem;
  width: 80px;
  font-size: 0.95em;
}

.ga4-property-id {
  flex: 2;
  text-align: center;
  font-size: 14px;
  /* color: #555; */
}

.ga4-event-time {
  user-select: none;
  flex: 3;
  text-align: center;
  font-size: 14px;
  /* color: #777; */
}

.copy-btn-container {
  /* flex: 4; */
  text-align: right;
  /* position: relative; */
  /* display: flex; */
  /* align-items: center; */
  /* gap: 8px; */
}

.copy-btn {
  width: 16px;
  height: 16px;
  cursor: pointer;
  opacity: 0.7;
  margin-left: 7px;
  transition: opacity 0.2s ease-in-out;
  /* position: relative; */
}

.copy-btn:hover {
  opacity: 1;
}

.ga4-sublist {
  margin-top: 5px;
  padding: 5px;
  border: 1px solid #ddd;
  background: #fff;
}

.ga4-sublist-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  /* cursor: pointer; */
  padding: 5px;
  background: #f1f1f1;
  border-bottom: 1px solid #ccc;
  /* position: relative; */
}

.ga4-sublist-content {
  display: none;
  padding: 5px;
}

.ga4-sublist.expanded .ga4-sublist-content {
  display: block;
}

.modal {
  position: fixed;
  display: flex;
  width: 90%;
  max-width: 650px;
  height: 60%;
  height: 0px;
  inset: 0;
  margin: auto;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.modal-background {
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.modal-area {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  max-width: 650px;
  z-index: 200;
  transition: 0.2s ease-out;
}

.modal-area > div {
  width: 100%;
  padding: 20px;
  /* transition: 0.2s ease-out; */
  background: #fff;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  z-index: 2;
}

.remove {
  visibility: hidden;
  opacity: 0;
}

.highlight {
  background-color: yellow !important;
}
